/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
:host {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* TODO(sorvell): move someplace better */
* /deep/ core-menu-button {
  font-size: 0.9rem;
  color: black;
}

* /deep/ core-icon {
  opacity: 0.6;

}

core-pages > * {
  background-color: #fafafa;
}

#appPlate {
  color: #fafafa;
  background-color: #02a8f3;
}

#appDrawer {
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35)
}

#appToolbar {
  color: #fafafa;
  background-color: #069bde;
}

#appToolbar /deep/ core-icon {
  opacity: 1;
  fill: #fafafa;
}

#actionbar {
  background-color: transparent;
}


#appToolbar /deep/ core-menu-button core-icon {
  opacity: 0.6;
  fill: black;
}

#contentPanels {
  overflow: hidden;
}

#Accounts > .panel-loading, #Home > .panel-loading {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 50%;
  margin: -25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background: url(../../images/loading_icon.svg);
}

#Accounts.ready > .panel-loading, #Home.ready > .panel-loading {
  display: none;
}