/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
:host {
  background: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.item {
  height: 60px;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.item.no-border {
  border-bottom: 0;
}

.item > .item-input-label {
  min-width: 80px;
  color: #888;
  font-weight: bold;
}

.item > input {
  height: 32px;
  width: 100px;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 15px;
}

.header {
  background-color: #4D4D4D;
  color: #eee;
  font-size: 20px;
}

.accounts-title {
  background-color: #eee;
  color: #888;
  font-weight: bold;
}

.accounts-title-icon {
  margin-left: -8px;
  margin-right: 6px;
}

.category-select-value {
  padding: 0 4px 0 4px;
}

.button {
  background-color: #02a8f3;
  color: white;
}

core-dropdown {
  border: 1px solid #ccc;
  border-radius: 3px;
}