/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */
:host {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'open sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* TODO(sorvell): move someplace better */
* /deep/ core-menu-button::shadow #overlay {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px;
  font-size: 0.9rem;
  background-color: white;
}

* /deep/ core-item {
  white-space: nowrap;
}

.mainPlate {
  background-color: steelblue;
}

.mainControls {
  background-color: lightblue;
}

.mainToolbar {
  background-color: #ddd;
}

#Accounts > .panel-loading, #Home > .panel-loading {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  bottom: 50%;
  margin: -25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  background: url(../../images/loading_icon.svg);
}

#Accounts.ready > .panel-loading, #Home.ready > .panel-loading {
  display: none;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(359deg);}
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(359deg);}
}

/*
@media screen and (max-width: 800px) {
  #actionbar > *:not(:last-child):not([hidden]) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 1;
  }
}

@media screen and (max-width: 800px) {
  #contentPanels:not([hideactionbar=true]) {
    margin-bottom: 60px;
  }
}
*/
