#viewer {
  position: relative;  
}

#searchBox {
  background-color: white;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

#searchBox > * {
  padding: 0 4px;
}

#searchInput {
  -webkit-align-self: stretch;
  align-self: stretch;
  margin: 0 1px;
  border: 0;
  font-size: 16px;
}