/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

#container {
  overflow: hidden;
  padding: 4px 0 0 4px;
  /* make inline-block elements not have extra padding due to whitespace */
  font-size: 0;
  text-align: center;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

.bg {
  background-color: #ececec;
}

.tile {
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 245px;
  width: 210px;
  margin: 4px;
  text-align: left;
  position: relative;
}

.tile-fit {
  background-color: white;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.tile-dummy {
  display: inline-flex;
  display: -webkit-inline-flex;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 210px;
  margin: 4px;
}

.image {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 140px;
}

.title {
  font-weight: normal;
  font-size: 14px;
  opacity: .8;
  padding: 8px;
  overflow: hidden;
}

.info {
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* TODO(sorvell): not convenient to use core-align-center for this 
  vertically center
*/
.topics .title {
  -webkit-align-items: center;
  align-items: center;
}

.topics .unread-count {
  display: inline;
}

.topics .image {
  height: 190px;
}

.topics .title {
  font-size: 18px;
}

.topics .source {
  display: none !important;
}

.unread-count {
  display: none;
  padding-left: 4px;
  color: #aaa;
}

.source {
  font-size: 12px;
  opacity: .5;
  padding: 0 8px 8px 8px;
}

.source-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.source-title {
  padding: 0 8px;
  font-weight: 600;
}

.source-time {
  font-weight: 400;
}

/* grid layout */


/* quilt layout */
.quilt #containerInner {
  display: inline-block;
  width: 880px;
}

.quilt .tile {
  float: left;
}

.quilt .tile:nth-of-type(18n), .quilt .tile:nth-of-type(18n-1), .quilt .tile:nth-of-type(18n-2)
.quilt .tile:nth-of-type(18n-3), .quilt .tile:nth-of-type(18n-4), .quilt .tile:nth-of-type(18n-5)
.quilt .tile:nth-of-type(18n-6), .quilt .tile:nth-of-type(18n-7), .quilt .tile:nth-of-type(18n-8) {
  float: right;
}

.quilt .tile:nth-of-type(9n - 8) {
  height: 498px;
  width: 428px;
}

.quilt .tile:nth-of-type(9n - 8) .image {
  height: 393px;
}

/* list layout */

.list .tile {
  width: calc(100% - 12px);
  -webkit-flex-direction: row;
  flex-direction: row;
  height: auto;
}

.list .image {
  height: 100px;
  width: 120px;
}


#more {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  float: none;
  width: 100%;
  height: 60px;
  min-height: 0;
  padding: 0 18px;
  background: #5f5f5f;
  color: white;
  font-size: 14px;
  -webkit-user-select: none;
  cursor: pointer;
}

#more polymer-ui-icon {
  margin-right: 10px;
}