/*
 * Copyright 2013 The Polymer Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file.
 */

body {
  font-family: "RobotoDraft", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body /deep/ core-menu-button {
  font-size: 0.9rem;
  color: black;
}

body /deep/ core-icon {
  opacity: 0.6;
}

/* TODO(sorvell): temp workaround for overlay layer styling issue under SD polyfill */
core-overlay-layer #overlay {
  background-color: white;
}